NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
STAFF_SESSION_SECRET=replace-with-at-least-32-random-characters
NEXT_PUBLIC_DEMO_MODE=true
DEMO_STAFF_PIN=
DEMO_ACTIVATION_CODE=
DEMO_CAN_MANAGE_CATALOG=false


